.devices {
  margin: 0 40px;

  &__types {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  &__types-title {
    margin-right: 13px;
  }

  &__type {
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
    color: @black;
    text-align: left;
    border-radius: 20px;
    background: @grey-light;

    &_selected {
      background: @yellow;
    }
  }

  &__container {
    display: flex;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }

    .card {
      margin-right: 15px;
      flex-shrink: 0;
    }
  }
}
