.devices {
  margin: 0 40px;

  &__types {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }
  }

  &__types-title {
    margin-right: 13px;
  }

  &__types-container {
    &_desktop {
      display: flex;
    }
    &_mobile {
      display: none;
      position: relative;

      .devices__types-group {
        display: none;

        &_visible {
          .dropdown();
          top: 35px;
          right: 0;
        }

        .devices__type {
          margin-right: 0;
          color: @grey;
          background: none;
          &:hover {
            color: @grey-dark;
          }
        }
      }
    }
  }

  &__type {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 8px 15px;
    font-size: 13px;
    font-weight: bold;
    color: @black;
    text-align: left;
    border-radius: 20px;
    background: @grey-light;

    &_selected {
      background: @yellow;
    }
  }

  &__container {
    display: inline-flex;
    margin: 20px 40px 0;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }

    .card:not(:last-of-type) {
      margin-right: 15px;
    }
  }

  .scroll-container {
    margin: 0 -40px;
  }

    .arrow-icon_bottom {
      display: none;
      margin-left: 5px;
    }
}
