.footer {
  .footer-nav {
    margin: 27px 40px 22px;
    display: flex;

    .footer-nav-item {
      margin-right: 15px;
      font-size: 12px;
      letter-spacing: 0.01px;
      color: #858585;
      text-align: left;
      text-decoration: none;
      transition: opacity .15s ease-in-out;
      &:hover {
        color: #333;
      }
    }
  }
}