body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font: .8em ArialMT, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: @grey-dark;
  overflow-x: hidden;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: @grey-dark;
}

.arrow-icon_bottom {
  width: 6px;
  height: 12px;
  background: url("../assets/arrow_left.svg") no-repeat;
  transform: rotate(-90deg);
}

.major {
  grid-area: major;
}

.scenarios {
  grid-area: scenarios;
}

.devices {
  grid-area: devices;
}

.header {
  grid-area: header;
  position: fixed;
}

.footer {
  grid-area: footer;
}

.scroll-container {
  .scrolling();
}

@supports (display: grid) {
  .app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 92px auto auto 64px;
    grid-template-areas: "header header" "major scenarios" "devices devices" "footer footer"
  }
}

@import "variables";
@import "scenarios";
@import "devices";
@import "header";
@import "footer";
@import "major";
@import "card";

@import "media-query";
