.major {
  padding: 30px 13px 30px 40px;

  &__title {
    margin-bottom: 20px;
  }

  .major-cards {
    margin: 20px;
    display: inline-flex;
    flex-direction: column;

    .card {
      margin-bottom: 15px;
    }

    &__container {
      width: 100%;
      height: 331px;
      display: flex;
      justify-content: space-between;
      border-radius: 20px;
      background: url("../assets/bg@2x.png") no-repeat center;
      overflow: hidden;
    }

    &__info {
      padding: 25px;
    }
  }

  .major-cards-info {
    &__title {
      font-size: calc(.9em + .8vw);
      font-weight: bold;
    }

    &__description {
      margin: 6px 0 25px;
      font-size: calc(12px + .15vw);
    }

    &__weather {
      display: flex;
    }
  }

  .weather {
    &__home {
      margin-right: 18px;
    }

    &__title {
      margin-bottom: 4px;
      font-size: calc(12px + .15vw);
      color: @grey;
    }

    &__number {
      font-size: calc(18px + 1.4vw);
      font-weight: bold;
      letter-spacing: 0;
      text-align: left;
    }

    &__icon {
      width: calc(14px + .9vw);
      height: calc(18px + 1.4vw);
      margin-left: 5px;
      align-self: flex-end;
      background: url("../assets/cloud_drizzle.svg") no-repeat;
      .contain-img();
    }
  }
}
