.scenarios {
  margin: 30px 40px 30px 13px;

  &__title {
    margin-bottom: 20px;
  }

  &__container {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0;
    .scrolling();

    .card {
      height: 72px;
      margin: 7px;
    }
  }

  .scroll-container {
    margin: -7px;
  }
}
